<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="/s/main.js"></script>
  </body>
</html>
