<div class="container">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <p class="lead">This is a list of all known addresses</p>

  <ul>
    {{#each addresses as |address|}}
    <li>{{address}}</li>
    {{/each}}
  </ul>
</div>
