<div class="container">
  <div class="page-header">
    <h1>Welcome to our Express Multichain Bootstrap</h1>
  </div>

  <p class="lead">This is a bootstrap project for rapid experimentation on Multichain blockchains using light-weight HTML interfaces</p>
</div>
