<head>
  <meta charset="UTF-8">
  <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="mattonfoot">
  <meta http-equiv="Content-Language" content="en">

  <title>{{title}}</title>

  <!--[if lt IE 9]>
  <script src="http://mattonfoot.github.io/NICE.UI/scripts/vendor/html5shiv.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="http://mattonfoot.github.io/NICE.UI/styles/ui.css">

  <style>

  </style>
</head>
